/* Directory Styles */
#directory .sector-wrapper{
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    -moz-column-fill: balance;
    column-fill: balance;
}

#directory .sector-wrapper ul.nav-list{
    column-count: 1;
    -moz-column-count: 1;
}

#directory .sector-wrapper .sector{
    margin-bottom: 15px;
    font-size:16px;
    break-inside: avoid-column;
    display: inline-block;
    break-after: always;
    -webkit-column-break-after: always;
}

#directory .sector-wrapper .sector .sector-header{
    margin-bottom: 5px;

}

#directory .sector-wrapper .sector-nolist{
    margin-bottom: 15px;
    font-size:16px;
    display: inline-block;
    width: 100%;
}

#dir-search .nav.nav-tabs a{
    background-color: #ddd;
}

#dir-search .nav.nav-tabs .active a{
    background-color: #f6f6f6;
}

#dir-search .nav.nav-tabs a:hover{
    background-color: #f6f6f6;
}
.flex-nav-wrapper{
    display: flex;
}

.nav-tabs-custom{
    padding: 15px;
}

.nav-tabs-custom .nav-container{
    /*width: 85%;*/
    flex: 6;
}

.nav-tabs-custom .tabs-label{
    flex: 1;
    /*width: 15%;*/
    float: left;
    align-self: center;

}

@media only screen and (max-width: 1270px){
    .nav-pills li{
        margin-left: 0 !important;
    }
    .nav-tabs-custom ul.nav li{
        width: 50%;
    }
    .nav-tabs-custom ul.nav{
        width: 100%;
    }
}

@media only screen and (min-width: 990px){
    #directory .sector-wrapper{
        -webkit-columns: 3;
        -moz-columns: 3;
        columns: 3;
        -moz-column-fill: balance;
        column-fill: balance;
    }

    #directory .sector-wrapper ul.nav-list{
        column-count: 1;
        -moz-column-count: 1;

    }
    #directory .sector-wrapper .sector{
        margin-bottom: 15px;
        font-size:16px;
        break-inside: avoid-column;
        display: inline-block;

    }

    #directory .sector-wrapper .sector .sector-header{
        margin-bottom: 5px;

    }

    #directory .sector-wrapper .sector-nolist{
        margin-bottom: 15px;
        font-size:16px;
        width: 100%;
    }
}

@media only screen and (max-width: 990px){
    #directory .sector-wrapper{
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        -moz-column-fill: balance;
        column-fill: balance;
    }

    #directory .sector-wrapper ul.nav-list{
        column-count: 1;
        -moz-column-count: 1;

    }
    #directory .sector-wrapper .sector{
        margin-bottom: 15px;
        font-size:16px;
        break-inside: avoid-column;
        display: inline-block;

    }

    #directory .sector-wrapper .sector .sector-header{
        margin-bottom: 5px;

    }

    #directory .sector-wrapper .sector-nolist{
        margin-bottom: 15px;
        font-size:16px;
        width: 100%;
    }
}


@media only screen and (max-width: 600px){
    #directory .sector-wrapper{
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;
        -moz-column-fill: balance;
        column-fill: balance;
    }

    #directory .sector-wrapper ul.nav-list{
        column-count: 1;
        -moz-column-count: 1;

    }
    #directory .sector-wrapper .sector{
        margin-bottom: 15px;
        font-size:16px;
        break-inside: avoid-column;
        display: inline-block;

    }

    #directory .sector-wrapper .sector .sector-header{
        margin-bottom: 5px;

    }

    #directory .sector-wrapper .sector-nolist{
        margin-bottom: 15px;
        font-size:16px;
        width: 100%;
    }
}