
/*OLD CSS*/
#dir-header {
	background: #f6f6f6;
	border-bottom: 1px solid #e6e6e6;
	padding: 20px 5% 5px;
}

#dir-header h1 {
	font-weight: bold;
}

#dir-header header {
	margin-bottom: 10px;
}

#directory > header p {
	float: left;
	clear: both;
	color: #999;
}

#dir-header .cern-searchform {
	background: #f6f6f6;
	border: none;
	margin-bottom: 0;
	padding: 15px 0 0;
	left: auto;
	background: #f5f5f5 url('../images/bg.jpg') no-repeat left top;
}

#directory, #dir-search {
	width: 79.3939%;
	clear: left;
	float: left;
	margin: 0 -100% 0 0;
}

#directory {
	padding-right: 1.9084%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#directory .nav-list {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	-ms-column-count: 4;
	-o-column-count: 4;
	column-count: 4;
}

#directory .nav-list li {
	margin-bottom: 5px;
}

#directory .sect-horiz {
	padding: 0 0 30px;
	position: relative;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	-ms-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}

#directory #main-content + .sect-horiz {
	margin-top: -10px;
}

#directory .sect-horiz header {
	padding: 0 0 5px;
	margin-bottom: 15px;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	width: 100%;
}

#directory .sect-horiz h1 {
	float: left;
}

#directory .sect-horiz p {
	float: left;
	clear: left;
	padding: 6px 0;
	color: #999;
	font-style: italic;
	margin: -5px 0 0;
}

#dir-nav {
	position: fixed;
	right: 3.592%;
	left: auto;
	width: 15.5758%;
	padding: 0 1.408%;
}

#dir-nav h2 {
	margin-bottom: 2px;
	float: left;
	clear: both;
	color: #8B8B8B;
  font-size: 1.4rem;
  letter-spacing: 2px;
  line-height: 2.1rem;
  text-transform: uppercase;
}

#dir-nav .nav-list {
	overflow: visible;
	float: left;
	clear: both;
}

#dir-nav .nav-list li {
	display: block;
	list-style: none;
	margin: 0;
	border-top: 1px solid #e6e6e6;
	position: relative;
}

#dir-nav .nav-list li:first-child {
	border-top: none;
}

#dir-nav .nav-list a {
	padding: 8px 0;
	width: 100%;
	position: relative;
}

#dir-nav .nav-list a:hover:before {
	content: "←";
	position: absolute;
	top: 10px;
	left: -1.5em;
}

#dir-header #help {
	color: #999;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #fff;
	border: 1px solid #e6e6e6;
	position: relative;
	top: -5px;
	margin-left: 82.4242%;
	left: -1.51515%;
  padding-left: 1.51515%;
  padding-right: 1.51515%;
  width: 17.5758%;
  float: left;
}

#dir-header #help h3 {
	margin: 0 0 3px;
}

#dir-header #help li {
	list-style: none;
	display: block;
	margin-bottom: 0;
}

#dir-header #help li + li {
	margin: 3px 0 0;
}

#dir-header #help a {
	float: right;
	display: block;
}

#directory > header {
	margin-bottom: 20px
}

#directory > header h1 {
	font-weight: 700;
	float: left;
}

#sort-page {
	padding: 5px 5px 5px 25px;
	border: 1px solid #e6e6e6;
	background-image: url('../img/settings.png');
	background-repeat: no-repeat;
	background-position: 5px center;
	border-radius: 5px;
	margin: -2px 0 20px;
	display: block;
	float: left;
}

#directory .sect-horiz .sort-actions {
	float: right;
	padding: 7px 10px;
	border: 1px solid #e6e6e6;
	background: #f6f6f6;
	font-style: normal;
	margin-left: 1em;
	font-size: 12px;
	display: none;
}

#directory .sort-actions a {
	padding: 0 5px;
}

#directory.sort .sect-horiz .sort-actions {
	display: block;
}

.hide {
	opacity: 0;
}

#dir-footer {
	float: left;
	display: block;
	width: 90%;
	padding: 0 5% 50px;
	background: #fff;
}

#dir-footer img {
	width: 118px;
}

@media only screen and (min-width: 1300px) {

	#directory .sect-horiz p {
		float: right;
		padding: 7px 0;
		clear: none;
		margin-top: 0;
	}

}