/* IE Styles */

#directory, #dir-search {
	margin: 0 -99.9% 0 0;
	width: 79.3939%;
}

#dir-nav {
	display: block;
	right: 5%;
	width: 15.5758%;
}

#dir-header #help {
	margin-left: 82.4242%;
	width: 17.5758%;
  left: -1.51515%;
  padding-left: 1.51515%;
  padding-right: 1.51515%;
  top: -5px;
  background: #fff;
  border: 1px solid #e6e6e6;
	text-align: left;
}

#dir-header #help h3 {
	margin: 0 0 2px;
	color: #8B8B8B;
}

#dir-header #help li + li {
	margin-top: 3px;
}

#dir-header #help a {
	background: none !important;
	padding: 0;
	color: #999;
}

#dir-header #help a > span {
	float: right;
	color: #0086CF;
	font-weight: 700;
	clear: none;
	*margin-top: -1.45em;
}

#dir-header #help a:before {
	display: none;
}

#dir-header #help .urgent > span {
	color: red;
}

.cern-searchform select {
	display: inline-block;
	margin-right: 2%;
	width: 20%;
}

.cern-searchform input[type="search"], .cern-searchform select + input {
	display: inline-block;
	margin: 0 -2px;
	width: 62%;
	margin-top: 0;
	padding: 10px 1%;
	height: 20px;
	text-indent: 10px;
}

.cern-searchform .btn {
	display: inline-block;
	margin-left: 2%;
	width: 10%;
	vertical-align: middle;
	margin-top: 0;
	font-size: 14px;
}

#directory .nav-list {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	-ms-column-count: 4;
	-o-column-count: 4;
	column-count: 4;
}