/* General Styles (all sizes) */

html, body {
	background-color: #fff;
}

/* General Typography ------------------------------ */
#alert {
	text-align: center;
	background-color: red;
	padding-top: 10px;
	padding-bottom: 10px;
}

#alert a {
	font-weight: bold;
	font-size: 1.6rem;
	color: #07202e;
}

#alert p {
	font-weight: bold;
	font-size: 1.6rem;
	color: rgb(255, 255, 255);
}

#alert a:hover {
	color: #1B5C7F;
}

body {
	font-family: 'PT Sans', arial, sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.4;
	color: rgb(98,98,98);
}

h1 {
	font-size: 24px;
	font-size: 2.4rem;
	line-height: 30px;
	line-height: 3.0rem;
	font-weight: 400;
	color: rgb(56,56,56);
}

h2 {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 600;
	color: rgb(56,56,56);
}

h3 {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
}

p + p {
	margin-top: 20px;
	margin-top: 2.0rem;
}

h4 {
	font-style: italic;
	font-weight: 400;
	margin-bottom: 0;
	color: rgb(56,56,56);
}

blockquote {
	margin: 0 2em 1em;
	color: #333;
}

cite {
	display: block;
}

h2 + p, h3 + p, h4 + p {
	margin-top: 0;
}

a {
	text-decoration: none;
	color: #0086CF;
}

a:hover {
	color: #1B5C7F;
}

input[type=checkbox] {
	vertical-align: middle;
	display: inline-block;
	margin: 0 5px 0 0;
	margin: 0 0.5rem 0 0;
}

.extra {
	display: none;
}

/* Animations */

a, [class*=btn], .panel, .back, input[type=search], input[type=text] {
	-webkit-transition: background-color .1s ease-in;
	-moz-transition: background-color .1s ease-in;
	-o-transition: background-color .1s ease-in;
	transition: background-color .1s ease-in;
}

a, input[type=search], input[type=text] {
	-webkit-transition-property: color;
	-moz-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
}

.back {
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}

input[type=search], input[type=text] {
	-webkit-transition-property: width;
	-moz-transition-property: width;
	-o-transition-property: width;
	transition-property: width;
}

/* Icon Styles */

.external {
	background: url('../img/icon-sprite.png') no-repeat right -263px;
	padding-right: 26px;
	padding-right: 2.6rem;
}

/* Button Styles */

.btn[class*=btn] {
	background-color: #0086CF;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding: 10px 0;
	padding: 1.0rem 0;
	color: #fff;
	text-decoration: none;
	position: relative;
	display: block;
	font-size: 16px;
	font-size: 1.6rem;
	text-align: center;
	font-weight: 600;
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
	box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
	border: none;
	cursor: pointer;
	text-decoration: none !important;
}

[class*=btn]:hover {
	background-color: #2FA5E0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #fff;
}

[class*=btn]:active {
	-webkit-transform: translateY(1px);
	-moz-transform: translateY(1px);
	transform: translateY(1px);
}

.btn-small {
	margin-top: 10px;
	margin-top: 1.0rem;
	float: left;
	width: auto;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 6px 12px;
	padding: 0.6rem 1.2rem;
	color: #fff;
}

/* Action Styles */

.btn-action {
	background-color: #f3f3f3;
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.03);
	-moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.03);
	box-shadow: inset 0 0 10px rgba(0,0,0,0.03);
	color: #0086CF;
	border: 1px solid #e6e6e6;
	font-weight: 400;
}

.btn-action:hover {
	background-color: #fff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #1B5C7F;
}

.nav-search input[type=search]:focus {
	width: 100%;
}

.nav-list {
	color: #aaa;
	overflow: visible;
	list-style: none;
}

.box .nav-list {
	color: #999;
}

.nav-list li {
	display: inline-block;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.nav-list a {
	text-decoration: none !important;
	display: block;
}

/* New Styles */

#main {
	-moz-box-sizing: border-box;
	overflow: hidden;
	padding: 2.4em 5% 50px;
	font-family: "PT Sans",Verdana,Tahoma,"DejaVu Sans",sans-serif;
}

#content > header {
	position: relative;
	margin-bottom: 30px;
	clear: both;
	display: block;
}

#content > header h1 {
	font-weight: 700;
}

#content > header h2 {
	font-weight: 400;
}

#main #sidebar .page1 {
	margin: 0 0 30px;
}

.page1 img {
	border: 1px solid #666;
	margin: 10px 0 20px;
}

.cern-searchform {
	padding: 20px 0;
	/*border: 1px solid #e6e6e6;*/
	background: #f6f6f6;
	margin-bottom: 40px;
}

.cern-searchform label {
	font-family: 'PT Sans', arial, sans-serif;
}

.cern-searchform h3 + fieldset {
	margin-top: 9px;
}

.cern-searchform select {
	display: block;
	width: 100%;
}

.cern-searchform input[type=search] {
	border-radius: 5px;
	border: 1px solid #ccc;
	-webkit-appearance: none;
	padding: 0 0 0 1%;
	height: 40px;
	color: #999;
	font-size: 14px;
	display: block;
	width: 99%;
	margin-top: 10px;
}

.cern-searchform .btn {
	display: block;
	height: 40px;
	padding: 0;
	font-size: 12px;
	font-weight: 400;
	width: 100%;
	margin-top: 10px;
}

.cern-searchform input[type=search]:focus {
	color: #000;
}

.sect-horiz {
	padding: 20px 0;
}

.cern-searchform + .sect-horiz {
	padding-top: 0;
	border-top: none;
}

.sect-horiz header {
	margin-bottom: 10px;
}

.sect-horiz h1 {
	font-size: 20px;
	font-size: 2rem;
}

.sect-horiz p {
	font-size: 14px;
}

#content article {
	padding: 0;
	margin-bottom: 20px;
}

#content aside {
	border-left: 1px solid #ddd;
}

#sidebar {
	position: relative;
	top: -5px;
}

#main-content + .cern-searchform {
	margin-top: -5px;
}

/* Directory Styles */

#dir-header {
	background: #f6f6f6;
	border-bottom: 1px solid #e6e6e6;
	padding: 20px 5% 5px;
	color: #666;
}

#dir-header h1 {
	font-weight: bold;
}

#dir-header header {
	margin-bottom: 10px;
}

#directory > header p {
	float: left;
	clear: both;
	color: #999;
}

#dir-header .cern-searchform {
	background: #f6f6f6;
	border: none;
	/*border-top: 1px solid #e6e6e6;*/
	margin-bottom: 0;
	padding: 15px 0 0;
	left: auto;
}

#directory, #dir-search {
	width: 100%;
	clear: left;
	float: left;
}

#directory {
	padding-right: 1.9084%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#directory .nav-list {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-ms-column-count: 2;
	-o-column-count: 2;
	column-count: 2;
	margin: 0;
	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	-ms-column-gap: 30px;
	-o-column-gap: 30px;
	column-gap: 30px;
	font-family: 'PT Sans', arial, sans-serif;
	font-size: 14px;
}

#directory .nav-list li {
	margin-bottom: 5px;
	background-image: url('../img/bullet.png');
	background-repeat: no-repeat;
	background-position: 0 6px;
	padding-left: 1em;
}

#directory .sect-horiz {
	padding: 0 0 30px;
	position: relative;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	-ms-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}

#directory #main-content + .sect-horiz {
	margin-top: -10px;
}

#directory .sect-horiz header {
	padding: 0 0 5px;
	margin-bottom: 15px;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	width: 100%;
}

#directory .sect-horiz h1 {
	float: left;
}

#directory .sect-horiz p {
	float: left;
	clear: left;
	padding: 6px 0;
	color: #999;
	font-style: italic;
	margin: -5px 0 0;
}

#dir-nav {
	position: fixed;
	left: auto;
	display: none;
	padding: 0;
}

#dir-nav h2 {
	margin-bottom: 2px;
	float: left;
	clear: both;
	color: #8B8B8B;
	font-size: 14px;
	font-size: 1.4rem;
	letter-spacing: 2px;
	line-height: 21px;
	line-height: 2.1rem;
	text-transform: uppercase;
}

#dir-nav .nav-list {
	overflow: visible;
	float: left;
	clear: both;
	width: 100%;
}

#dir-nav .nav-list li {
	display: block;
	list-style: none;
	margin: 0;
	border-top: 1px solid #e6e6e6;
	position: relative;
}

#dir-nav .nav-list li:first-child {
	border-top: none;
}

#dir-nav .nav-list a {
	padding: 8px 0;
	width: 100%;
	position: relative;
}

#dir-nav .nav-list a:hover:before {
	content: "←";
	position: absolute;
	top: 10px;
	left: -1.5em;
}

#dir-header #help {
	color: #999;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
	float: left;
	text-align: center;
}

#dir-header #help h3 {
	margin: 10px 0;
	color: #666;
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#dir-header #help li {
	list-style: none;
	display: block;
	margin-bottom: 0;
}

#dir-header #help li + li {
	margin: 10px 0 0;
}

#dir-header #help a {
	padding: 8px 0;
	color: #fff;
	background: #999;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
	display: block;
}

#dir-header #help a:before {
	content: "Call: ";
	font-weight: 700;
}

#dir-header #help .urgent {
	background-color:red;
}

#dir-header #help a > span {
	color: #fff;
	float: none;
}

#directory > header {
	margin-bottom: 20px
}

#directory > header h1 {
	font-weight: 700;
	float: left;
}

#sort-page {
	padding: 5px 5px 5px 25px;
	border: 1px solid #e6e6e6;
	background-image: url('../img/settings.png');
	background-repeat: no-repeat;
	background-position: 5px center;
	border-radius: 5px;
	margin: -2px 0 20px;
	display: block;
	float: left;
}

#directory .sect-horiz .sort-actions {
	float: right;
	padding: 7px 10px;
	border: 1px solid #e6e6e6;
	background: #f6f6f6;
	font-style: normal;
	margin-left: 1em;
	font-size: 12px;
	display: none;
}

#directory .sort-actions a {
	padding: 0 5px;
}

#directory.sort .sect-horiz .sort-actions {
	display: block;
}

.hide {
	opacity: 0;
}

#dir-footer {
	float: left;
	display: block;
	width: 90%;
	padding: 0 5% 50px;
	background: #fff;
}

#dir-footer img {
	width: 118px;
}

@media only screen and (min-width: 1300px) {

	#directory .sect-horiz p {
		float: right;
		padding: 7px 0;
		clear: none;
		margin-top: 0;
	}

}


@media only screen and (min-width: 750px) {

	#directory, #dir-search {
		width: 65.5556%;
		margin: 0 -100% 0 0;
	}

	#dir-nav {
		display: block;
		right: 5%;
		width: 28.1111%;
	}

	#dir-header #help {
		width: 38%;
		margin-left: 68.8889%;
		left: -1.51515%;
		padding-left: 1.51515%;
		padding-right: 1.51515%;
		top: -5px;
		background: #fff;
		border: 1px solid #e6e6e6;
	}

	#dir-header #help {
		text-align: left;
	}

	#dir-header #help h3 {
		margin: 0 0 2px;
		color: #8B8B8B;
	}

	#dir-header #help li + li {
		margin-top: 3px;
	}

	#dir-header #help a {
		background: none !important;
		padding: 0;
		color: #0086CF;
	}

	#dir-header #help a:hover {
		color: #1B5C7F;
	}

	#dir-header #help a:before {
		display: none;
	}

	#dir-header #help a > span {
		float: right;
		color: #0086CF;
		font-weight: 100;
		clear: none;
	}

	#dir-header #help a > span strong{
		font-weight: 700;
	}

	#dir-header #help .urgent > span {
		color: red;
	}

	.cern-searchform select {
		display: inline-block;
		margin-right: 2%;
		width: 20%;
	}

	.cern-searchform input[type="search"] {
		display: inline-block;
		margin: 0 -2px;
		width: 85%;
		margin-top: 0;
	}

	.cern-searchform .btn {
		display: inline-block;
		margin-left: 2%;
		width: 12%;
		vertical-align: middle;
		margin-top: 0;
	}

	#directory .nav-list {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		-ms-column-count: 3;
		-o-column-count: 3;
		column-count: 3;
	}

}

@media only screen and (min-width: 990px) {

	.cern-searchform .btn {
		font-size: 14px;
	}

	#directory .nav-list {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		-ms-column-count: 4;
		-o-column-count: 4;
		column-count: 4;
	}

	#directory, #dir-search {
		width: 65%;
		margin: 0 -100% 0 0;
	}

	#dir-nav {
		width: 15.5758%;
	}

	#dir-header #help {
		margin-left: 70%;
		width: 30%;
	}

	.cern-searchform input[type=search] {
		width: 85%;
	}

	.cern-searchform .btn {
		width: 12%;
	}

}

@media only screen and (min-width: 1200px) {
	#dir-search {
		width: 75%;
	}
	#dir-header #help{
		width: 25%;
		margin-left: 77%;
	}
}
